.data-grid {
  height: 500px;
  width: 50%;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:1024px) {
  .data-grid {
    width: 100%;
  }
}